@media (max-width: 600px) {
    body {
        height: auto;
        padding: 10px;
    }

    .main {
        margin-top: 90px;
        padding: 15px;
        gap: 20px;
        width: 95%;
        box-shadow: 1px 2px 5px #fc912e;
    }

    h1 {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    .btn {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;
    }

    button {
        padding: 12px 20px;
        font-size: 14px;
        width: 80%;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .main {
        width: 90%;
        gap: 25px;
    }

    h1 {
        font-size: 24px;
        margin-left: 0;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: center;
    }

    .btn {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    button {
        padding: 12px 25px;
        font-size: 15px;
    }
}